{% extends 'layout.html' %}

{% block content %}
    <h2>this is the home page </h2>          <button><a href="{{ url_for('logout') }}">Log Out</a></button>{{username}}
    <hr>
    <h3>Write notes</h3>
    <form action="" method="post">
        {{ form.hidden_tag() }}

        <p>
            {{ form.title(size=32) }} <br>
            {% for error in form.title.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.category() }} <br>
            {% for error in form.category.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.content(cols=60, rows=25) }} <br>
            {% for error in form.content.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.submit() }} <button><a href="/home">Cancel</a></button>
        </p>
    </form>

{% endblock %}
