{% extends 'layout.html' %}

{% block content %}

    <div class="container">
        <div class="navbar p-3 navbar-light bg-light">
            <h2>Welcome, {{username.capitalize()}}.</h2><button class="btn btn-light" style="border: 1px solid lightblue"><a class="text-primary" style="text-decoration: none;" href="{{ url_for('logout') }}">Log Out <i class="fa-solid fa-right-from-bracket"></i></a></button>
        </div>
        <hr>
        <h4>All notes: <span>{{ count }}</span></h4>
        <hr>
        <button class="btn btn-primary"><i class="fa-solid fa-plus"></i> <a href="{{url_for('add')}}" class="text-white" style="text-decoration: none;">New note</a></button> <br>
        
        <div class="notes-container container p-2 mt-3 row row-cols-3 gap-3">
            {% for note in notes %}
                <div class="card d-flex flex-row justify-content-between p-3" style="width: 20rem; height: auto;">
                        <div class="d-flex justify-content-between flex-column">
                            <a href="/read/{{ note.id }}" class="text-dark fs-5" style="text-decoration: none;"> {{ note.title }}</a> <br>
                            <span><i class="fa-solid fa-folder-open"></i> {{ note.name }} notes</span>
                        </div>
                        <div class="delete-container">
                            <div style="position: relative;">
                                <span class="delete-menu" style="background: none; height: 15px; cursor: pointer;"><i class="fa-solid fa-ellipsis-vertical" ></i></span>
                                <div style="position: absolute; right: 10px; top: 10px; display: none;" class="show-delete">
                                    <button class="btn btn-danger"><a href="/notes/{{ note.id }}" class="text-white" style="text-decoration: none;"><i class="fa-solid fa-trash"></i></a></button>
                                </div>
                            </div>
                        </div>
                </div><br>
            {% endfor %}
        </div>
    </div>

{% endblock %}
