{% extends 'layout.html' %}

{% block content %}
    <h2>Welcome {{username}}</h2><button><a href="{{ url_for('logout') }}">Log Out</a></button>
    <hr>
    <h3>All notes: {{ count }}</h3>
    <button><a href="{{url_for('add')}}">New note</a></button> <br>
    
    <div class="notes-container">
        {% for note in notes %}
            <div class="note">
                    <a href="/read/{{ note.id }}"> {{ note.title }}</a>
                    <button><a href="/notes/{{ note.id }}">Delete</a></button> 
            </div><br>
        {% endfor %}

    </div>

{% endblock %}
