{% extends 'layout.html' %}

{% block content %}
   <div class="container mt-5">
        <button class="btn btn-primary"><a href="{{ url_for('home') }}" class="text-light" style="text-decoration: none;"><i class="fa-solid fa-arrow-left"></i> Back</a></button>
        <hr>
        
        <div>
            <h3>{{ note.title }}</h3>
            <span>{{ note.created_at }}</span> <br>
            <span><i class="fa-solid fa-folder-open"></i> {{ note.name }} notes</span> <br>
            <hr>
            <p>{{ note.content }}</p>
            <hr>
            <button class="btn btn-danger"><a href="/notes/{{ note.id }}" class="text-light" style="text-decoration: none;"><i class="fa-solid fa-trash"></i></a></button> <button class="btn btn-success"><a class="text-light" style="text-decoration: none;" href="/edit/{{ note.id }}"><i class="fa-solid fa-pen"></i></a></button><br><br>

        </div>
   </div>


{% endblock %}
